{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block header %}
    {% include 'partials/header_client.html.twig' %}
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1 class="mt-5 border p-3 bg-secondary">Votre panier</h1>
        {% if items | length > 0 %}
            <table class="table mt-5 border">
                <thead class="bg-primary">
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.plat.nom }}</td>
                        <td>{{ item.plat.prix }} €</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.plat.prix * item.quantity}} €</td>
                        <td>
                            <a href="{{path('panier_remove', {'id': item.plat.id})}}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="text-right"><strong>Total de la commande : </strong></td>
                    <td>{{ total }} €</td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        {% else %}
            <div class="alert alert-danger text-center mt-5">
                <h4 style="color: red">Le panier est vide</h4>
            </div>
        {% endif %}
    </div>
    <div class="container text-right">
        <a href="{{ path('commande') }}" class="btn btn-danger">Retour</a>
        <a href="#" class="btn btn-success ml-5">Paiement</a>
    </div>
{% endblock %}
