{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block header %}
    {% include 'partials/header_client.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 border p-3 bg-secondary">Bienvenue sur la page d'accueil</h1>

        <div class="row">

            <div class="col-6">
                {% for new in news %}
                    <div class="col-4">
                        <img style="width: 400px; height: 200px" src="{{ new.coverImage }}" alt="image">
                        <div class="card-title">
                            {{ new.titre }}
                        </div>
                        <div class="card-body">
                            {{ new.contenu }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-6">
                {% for resto in restos %}
                <div class="col-4">
                    <img style="width: 400px; height: 200px" src="{{ resto.coverImage }}" alt="image">
                    <div class="card-title">
                        {{ resto.nom }}<br>
                        {{ resto.adresse }}<br>
                        {{ resto.ville }}<br>
                        {{ resto.codePostal }}
                    </div>
                    <div class="card-body">
                        {{ resto.description }}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}