{% extends 'base.html.twig' %}

{% block title %}Restaurants{% endblock %}

{% block header %}
    {% include 'partials/header_client.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3 text-center border p-3 mt-5">Liste des restaurants</h1>

        <div class="row mt-5">
            {% for rest in restos %}
                <div class="col-md-6">
                    <div class="card border-primary mb-3">
                        <div class="card-header bg-secondary text-center">
                            <img src="{{ rest.coverImage }}" alt="Image de restaurant"
                                 style="height:200px; width: 100%; display: block"></a>
                            <div class="card-title shadow p-1 border">
                                <h3 style="color: black"><strong>{{ rest.nom }}</strong></h3> <br>
                            </div>
                           <strong>Adresse: </strong>{{ rest.adresse }} <br>
                            <strong>Ville: </strong>{{ rest.ville }} <br>
                            <strong>Code postal: </strong>{{ rest.codePostal }}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href=""></a></h4>
                            <p class="card-text"></p>
                            <a href="{{ path('restos_show', {'slug': rest.slug}) }}" class="btn btn-primary">Voir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
